<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Over Ons</title>
</head>
<body>

<h1>Over Onze NGO</h1>

<h2>Adres</h2>

<p>
    Campus Kaai<br>
    Nijverheidskaai 170<br>
    1070 Anderlecht<br>
    België
</p>

<h2>Contactgegevens</h2>

<p>
    Telefoon: +32 2 123 45 67<br>
    E-mail: info@ngo-anderlecht.be
</p>

<h2>Omschrijving</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
    Sed nisi. Nulla quis sem at nibh elementum imperdiet.
</p>

<p>
    <a href="/">Terug naar home</a>
</p>

</body>
</html>